.tag {
  background-color: #fe6d01;
  width: 10rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
.listitem {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 1.5rem; */
}
.custom_radio {
  margin-right: 1rem;
}
.custom_radio input {
  appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.custom_radio input:hover {
  background-color: #575757;
  cursor: pointer;
}
.custom_radio input:checked {
  appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.li {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #171717;
  border-radius: 0.8rem;
}
.custom_radio:hover .checkmark {
  background-color: #414141;
}
.datedivs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: right;
  background: none;
  margin-right: 1rem;
  color: white;
  cursor: pointer;
  font-size: large;
}
.button span {
  cursor: pointer;
  margin-right: 1rem;
}
.button:hover {
  color: #ff6d00;
}
