.watchlistbutton {
  background-color: #e35518;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: 600; */
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  height: 80%;
}
.watchlistbutton:hover {
  background-color: #cc460c;
  color: white;
}
.watchlisttitle {
  display: flex;
  justify-content: space-between;
}
.mylistimg {
  width: 11.2rem;
  height: 15.2rem;
  object-fit: cover;
  border-radius: 10px;
}
