/* Styles for MovieCarouselView component */
.movie_side_scroll {
  margin-bottom: 2.5rem;
}

.titletwo {
  display: flex;
  justify-content: space-between;
}

.movie_posters {
  display: flex;
  overflow: auto;
  margin-top: -1rem;
}
.authorname {
  color: #d87122;
}

.movie_posters::-webkit-scrollbar {
  display: none;
}
.plistby {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.disabled {
  opacity: 0;
  cursor: not-allowed;
}
.carousel_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  position: relative;
  top: 8.5rem;
  z-index: 2;
}

.carousel_nav_button {
  background: rgba(0, 0, 0, 0.507);
  width: 2rem;
  height: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 5rem;
  /* border: white 1px solid; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel_nav_button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #ff6d00;
}

hr {
  border: 0.5px solid #535353;
}

.editbutton {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.multiline {
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: white;
  font-size: 1.2rem;
}
.link {
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  display: block;
  -webkit-box-orient: vertical;
}
.link:hover {
  color: #ff6d00;
}
/* .description {
  margin-bottom: 1rem;
} */
.watchlistname {
  margin-right: 0.5rem;
}
.paragraph {
  margin: 0.2rem 0 0.3rem 0;
}
