.content {
  overflow: show;
  display: -webkit-box;
  margin-bottom: 1rem;
}
.truncated {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.button {
  background: none;
  margin-bottom: 1rem;
  cursor: pointer;
  color: white;
  font: inherit;
}
.button:hover {
  color: #ff6d00;
}
