.watchlistmovie {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.movie_detail_poster {
  width: 20rem;
  height: 30rem;
}
.movie_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.movie_detail_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.movie_detail_content {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.sTitle {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}
.movie_detail_right {
  display: flex;
  flex-direction: column;
}
.movie_detail_left {
  width: 70%;
}
.checked {
  color: #ff6d00;
  margin-right: 0.5rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: right;
  background: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: large;
}
.button:hover {
  color: #ff6d00;
}

.icon {
  margin-left: 0.7rem;
}
